//Grises y Blancos
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

//Mis colores
$principal: #F0E9D2;
$principal-2: #E6DDC4;
$secundario: #678983;
$secundario-2: #181D31;

$primary:       $principal;
$secondary:     $secundario;
/*$success:       $green
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;*/

//Importar Bootstrapt
@import "../node_modules/bootstrap/scss/bootstrap.scss";

