@use "../custom";
$medidaEm: 10em;


.contProyectos{
    color: $secundario;

    &__imgPrincipal{
        padding-top: $medidaEm/2;
        width: 60em;
    }
    &__caracteristicas{
        margin-top: $medidaEm/2;
        div{
            padding: 2em $medidaEm;
        }
    }
    &__unidades{
        width: 30em;
    }
    .contUnidades{
        margin-top: 2em;
        border-style: solid;
    }
}
